# Terraform state files
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
